body{
    background-color: black;
    color: $color-txt;
    font-family: "Nunito", sans-serif;
    
}
footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $color-black;
}