.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header header'    
    'sidebar main'
    'footer footer';
}
.grid-item{
    background-color: red;
}
.item1{
    grid-column: 1/3;
    grid-row: 1;
}

.item2{
    grid-column: 3;
    grid-row: 1/4;
}

header{
    grid-area: header;
    background-color: antiquewhite;
}

aside{
    grid-area: sidebar;
    background-color: aqua;
}

main{
    grid-area: main;
    background-color: rgb(255, 33, 189);
}

footer{
    grid-area: footer;
    background-color: blueviolet;
}

